---
import { Image } from "astro:assets"
import airbnb from "../images/airbnb.svg"
import apple from "../images/apple.svg"
import disney from "../images/disney.svg"
import fb from "../images/facebook.svg"
import quora from "../images/quora.svg"
import samsung from "../images/samsung.svg"
import saas from "../images/sass.svg"
import spark from "../images/spark.svg"
import building from "../images/building.jpg"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
		<script src="https://unpkg.com/@themesberg/flowbite@1.1.1/dist/flowbite.bundle.js"></script>
		<meta name="generator" content={Astro.generator} />
		<title></title>
	</head>
	<body class=" font-manrope bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]">

		<header class=" md:w-9/12 sm:mx-auto min-h-svh">
			<nav class="border-gray-200 mb-10">
				<div class="w-full mx-auto">
					<div class="mx-2 flex flex-wrap items-center justify-between">
						<a href="#" class="flex">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36" fill="rgba(70,146,221,1)"><path d="M21 19H23V21H1V19H3V4C3 3.44772 3.44772 3 4 3H14C14.5523 3 15 3.44772 15 4V19H17V9H20C20.5523 9 21 9.44772 21 10V19ZM7 11V13H11V11H7ZM7 7V9H11V7H7Z"></path></svg>
							<span class="self-center text-lg font-semibold whitespace-nowrap ml-2 text-white">Econo</span>
						</a>
						<div class="flex md:hidden md:order-2">
							<button data-collapse-toggle="mobile-menu-3" type="button"
								class="md:hidden text-gray-400 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-300 rounded-lg inline-flex items-center justify-center"
								aria-controls="mobile-menu-3" aria-expanded="false">
								<span class="sr-only">Open main menu</span>
								<svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd"
										d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
										clip-rule="evenodd"></path>
								</svg>
								<svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd"
										d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
										clip-rule="evenodd"></path>
								</svg>
							</button>
						</div>

						<div class="hidden md:flex justify-between items-end w-full md:w-auto md:order-1" id="mobile-menu-3">
							<ul class="flex-col md:flex-row flex md:space-x-8 mt-4 md:mt-0 md:text-sm md:font-medium">
								<li>
									<a href="#"
										class="bg-blue-700 md:bg-transparent text-white block pl-3 pr-4 py-2 md:text-blue-700 md:p-0 rounded"
										aria-current="page">Home</a>
								</li>
								<li>
									<a href="#"
										class="text-gray-700 hover:bg-gray-50 border-b border-gray-100 md:hover:bg-transparent md:border-0 block pl-3 pr-4 py-2 md:hover:text-blue-700 md:p-0">About</a>
								</li>
								<li>
									<a href="#"
										class="text-gray-700 hover:bg-gray-50 border-b border-gray-100 md:hover:bg-transparent md:border-0 block pl-3 pr-4 py-2 md:hover:text-blue-700 md:p-0">Services</a>
								</li>
							</ul>
						</div>

						<!-- <div>
							<button class=" border border-white py-2 px-4 text-white rounded-xl">Start Building</button>
						</div> -->

					</div>
				</div>
			</nav>

			<h1 class=" font-bold mt-14 text-3xl text-center text-white md:mt-20 md:text-7xl">Start Building with <span class=" text-blue-600">Econo Construction Company</span>.</h1>
			<h2 class=" mt-10 text-center text-xl text-white font-bold">We are located in Nairobi</h2>
			<p class=" mt-14 text-base text-center text-gray-400">Let us turn your ideas to Innovations 🚀.<br> We sell: <span class=" font-bold text-white">Ballast, Beams</span> and <span class=" font-bold text-white">Blocks</span>, <span class=" font-bold text-white">Cladding, Sand, Steel bars, Carbrons</span> and <span class=" font-bold text-white">Stones.</span>
			</p>
			<div class=" flex items-center justify-center mt-10">
				<Image src={fb} alt="fb" />
				<p class=" ml-4 text-white">loved by 20+ clients</p>
			</div>
			<div class=" block md:flex items-center justify-center gap-4 mt-14 w-1/2 mx-auto">
				<button class="rounded-xl bg-white p-3.5 md:p-4 px-10 md:px-[30px] text-md md:text-md font-bold text-primary tracking-tight cta-btn cursor-pointer hover:scale-105 transition duration-300 ease-out w-full md:w-auto">Book a call ⚡</button>
				<button class=" mt-2 rounded-xl border p-3.5 md:p-4 px-10 md:px-16 text-md md:text-md  text-white cta-btn cursor-pointer hover:scale-105 transition duration-300 ease-out   font-semibold w-full md:w-auto">See Results</button>
			</div>
		
		</header>

		<section class=" relative antialiased">
			<h2 class=" text-center text-white mt-8">Trusted By</h2>
			<main class="relative flex flex-col justify-center overflow-hidden">
				<div class="w-full mx-auto px-4 md:px-6 py-24">
					<div class="text-center">
		
						<!-- Logo Carousel animation -->
						<div
							x-data="{}"
							x-init="$nextTick(() => {
								let ul = $refs.logos;
								ul.insertAdjacentHTML('afterend', ul.outerHTML);
								ul.nextSibling.setAttribute('aria-hidden', 'true');
							})"
							class="w-full inline-flex flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-128px),transparent_100%)]"
						>
							<ul x-ref="logos" class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll">
								<li>
									<Image src={fb} alt="facebook" />
								</li>
								<li>
									<Image src={disney} alt="facebook" />
								</li>
								<li>
									<Image src={airbnb} alt="facebook" />
								</li>
								<li>
									<Image src={apple} alt="facebook" />
								</li>
								<li>
									<Image src={spark} alt="facebook" />
								</li>
								<li>
									<Image src={samsung} alt="facebook" />
								</li>
								<li>
									<Image src={quora} alt="facebook" />
								</li>
								<li>
									<Image src={saas} alt="facebook" />
								</li>
							</ul>                
						</div>
					</div>
			</main>
		</section>

		<section class=" text-white mx-auto w-9/12 mt-14 min-h-svh">
			<h2 class=" text-center text-xl"> Here is what you can expect from us...</h2>
			<div class="flex flex-col space-y-2 lg:space-y-0 lg:flex-row items-stretch justify-center mt-10 lg:space-x-6  md:pt-10">
				<div class="text-white text-3xl flex flex-col items-center justify-start space-y-6  rounded-3xl p-6 sm:min-h-[200px] w-full lg:w-1/3">
					<svg class="w-[40px] h-[40px]"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" fill="rgba(70,146,221,1)"><path d="M4.87759 3.00275H19.1319C19.4518 3.00275 19.7524 3.15583 19.9406 3.41457L23.7634 8.67097C23.9037 8.86385 23.8882 9.12895 23.7265 9.30419L12.3721 21.6047C12.1848 21.8076 11.8685 21.8203 11.6656 21.633C11.6591 21.627 7.86486 17.5174 0.282992 9.30419C0.121226 9.12895 0.10575 8.86385 0.246026 8.67097L4.06886 3.41457C4.25704 3.15583 4.55766 3.00275 4.87759 3.00275ZM5.38682 5.00275L2.58738 8.85198L12.0047 19.0541L21.4221 8.85198L18.6226 5.00275H5.38682Z"></path></svg>
						<div class="flex flex-col space-y-2">
							<span class=" text-center text-xl">Durable Materials</span>
							<span class=" text-gray-400 text-sm text-center">Our materials are all stress tested to guaranteed to last a life-time.</span>
						</div>
				</div>
				<div class="text-white text-3xl flex flex-col items-center justify-start space-y-6  rounded-3xl p-6 sm:min-h-[200px] w-full lg:w-1/3">
					<svg class="w-[40px] h-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="rgba(70,146,221,1)"><path d="M12.0049 22.0027C6.48204 22.0027 2.00488 17.5256 2.00488 12.0027C2.00488 6.4799 6.48204 2.00275 12.0049 2.00275C17.5277 2.00275 22.0049 6.4799 22.0049 12.0027C22.0049 17.5256 17.5277 22.0027 12.0049 22.0027ZM12.0049 20.0027C16.4232 20.0027 20.0049 16.421 20.0049 12.0027C20.0049 7.58447 16.4232 4.00275 12.0049 4.00275C7.5866 4.00275 4.00488 7.58447 4.00488 12.0027C4.00488 16.421 7.5866 20.0027 12.0049 20.0027ZM8.50488 14.0027H14.0049C14.281 14.0027 14.5049 13.7789 14.5049 13.5027C14.5049 13.2266 14.281 13.0027 14.0049 13.0027H10.0049C8.62417 13.0027 7.50488 11.8835 7.50488 10.5027C7.50488 9.12203 8.62417 8.00275 10.0049 8.00275H11.0049V6.00275H13.0049V8.00275H15.5049V10.0027H10.0049C9.72874 10.0027 9.50488 10.2266 9.50488 10.5027C9.50488 10.7789 9.72874 11.0027 10.0049 11.0027H14.0049C15.3856 11.0027 16.5049 12.122 16.5049 13.5027C16.5049 14.8835 15.3856 16.0027 14.0049 16.0027H13.0049V18.0027H11.0049V16.0027H8.50488V14.0027Z"></path></svg>
						<div class="flex flex-col space-y-2">
							<span class=" text-center text-xl">Pocket Friendly</span>
							<span class=" text-gray-400 text-sm text-center">Materials and services that do not drain your wallet.</span>
						</div>
				</div>
				<div class="text-white text-3xl flex flex-col items-center justify-start space-y-6  rounded-3xl p-6 sm:min-h-[200px] w-full lg:w-1/3">
					<svg class="w-[40px] h-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="rgba(70,146,221,1)"><path d="M3 19V5.70046C3 5.27995 3.26307 4.90437 3.65826 4.76067L13.3291 1.24398C13.5886 1.14961 13.8755 1.28349 13.9699 1.54301C13.9898 1.59778 14 1.65561 14 1.71388V6.6667L20.3162 8.77211C20.7246 8.90822 21 9.29036 21 9.72079V19H23V21H1V19H3ZM5 19H12V3.85543L5 6.40089V19ZM19 19V10.4416L14 8.77488V19H19Z"></path></svg>
						<div class="flex flex-col space-y-2">
							<span class=" text-center text-xl">High Quality</span>
							<span class=" text-gray-400 text-sm text-center">We provide high quality materials without compromise on quality.</span>
						</div>
				</div>
			</div>
			<div class=" flex items-center justify-center mt-40">
				<button class="flex items-center rounded-xl bg-white p-3.5 md:p-4 px-10 md:px-[30px] text-md md:text-md font-bold text-primary tracking-tight cta-btn cursor-pointer hover:scale-105 transition duration-300 ease-out w-full md:w-auto text-black">Lets get to work<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor"><path d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z"></path></svg></button>
			</div>
		</section>

		<section class=" min-h-screen mt-20 text-white">
			<h2 class=" text-2xl text-center">Our Products</h2>
			<main class="py-12 md:px-20 sm:px-14 px-6">
				<div class="sm:flex items-center shadow-md">
				  <div class="md:px-10 sm:px-5">
					<h1 class="text-gray-800 font-bold text-2xl my-2">long established</h1>
					<p class="text-gray-700 mb-2 md:mb-6">We long established company that has supplied materials to various companines and construction sites 
					</p>
				  </div>
				  <div>
					<img class="bg-cover" src="https://images.unsplash.com/photo-1527689368864-3a821dbccc34?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="" />
				  </div>
				</div>

				<div class="mt-6 md:flex space-x-6">
				  <div>
					<img src="https://images.unsplash.com/photo-1497493292307-31c376b6e479?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="">
					<div>
					  <h1  class="mt-3 text-gray-800 text-2xl font-bold my-2">Sand</h1>
					  <p class="text-gray-700 mb-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that....</p>
					</div>
				  </div>
				  <div>
					<img src="https://images.unsplash.com/photo-1497493292307-31c376b6e479?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="">
					<div>
					  <h1  class="mt-3 text-gray-800 text-2xl font-bold my-2">Stones</h1>
					  <p class="text-gray-700 mb-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that....</p>
					</div>
				  </div>
				  <div>
					<img src="https://images.unsplash.com/photo-1497493292307-31c376b6e479?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="">
					<div>
					  <h1  class="mt-3 text-gray-800 text-2xl font-bold my-2">Beams and Blocks</h1>
					  <p class="text-gray-700 mb-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that....</p>
					</div>
				  </div>
				</div>
				<div class="mt-6 md:flex space-x-6">
				  <div>
					<img src="https://images.unsplash.com/photo-1497493292307-31c376b6e479?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="">
					<div>
					  <h1  class="mt-3 text-gray-800 text-2xl font-bold my-2">Steel Bars</h1>
					  <p class="text-gray-700 mb-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that....</p>
					</div>
				  </div>
				  <div>
					<img src="https://images.unsplash.com/photo-1497493292307-31c376b6e479?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="">
					<div>
					  <h1  class="mt-3 text-gray-800 text-2xl font-bold my-2">Cladding</h1>
					  <p class="text-gray-700 mb-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that....</p>
					</div>
				  </div>
				  <div>
					<img src="https://images.unsplash.com/photo-1497493292307-31c376b6e479?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="">
					<div>
					  <h1  class="mt-3 text-gray-800 text-2xl font-bold my-2">Ballast</h1>
					  <p class="text-gray-700 mb-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that....</p>
					</div>
				  </div>
				</div>
				<div></div>
			  </main>
		</section>

		<section class=" mt-20 max-w-screen-xl min-h-svh mx-auto">
			<h2 class=" text-center text-xl text-white">Have a look at some of our ongoing projects.</h2>
			<div class=" flex items-center justify-center mt-4 mb-20">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="rgba(70,146,221,1)"><path d="M18.364 17.364L12 23.7279L5.63604 17.364C2.12132 13.8492 2.12132 8.15076 5.63604 4.63604C9.15076 1.12132 14.8492 1.12132 18.364 4.63604C21.8787 8.15076 21.8787 13.8492 18.364 17.364ZM12 15C14.2091 15 16 13.2091 16 11C16 8.79086 14.2091 7 12 7C9.79086 7 8 8.79086 8 11C8 13.2091 9.79086 15 12 15ZM12 13C10.8954 13 10 12.1046 10 11C10 9.89543 10.8954 9 12 9C13.1046 9 14 9.89543 14 11C14 12.1046 13.1046 13 12 13Z"></path></svg>
				<h3 class=" ml-4 text-gray-200">Karuguru Bypass</h3>
			</div>
			<div class=" mb-20">
				<!-- gallery -->
				<!-- <Image src={building} alt="building" /> -->
			</div>
		</section>


		<!-- <section class=" w-9/12 mx-auto">

			<h2 class=" text-4xl text-center text-white">FAQS</h2>
			<div class="m-2 space-y-2">
				<div
				  class="group flex flex-col gap-2 rounded-lg bg-gray-950 p-5 text-white"
				  tabindex="1">
				  <div class="flex cursor-pointer items-center justify-between">
					<span> HTML </span>
					<img
					  src="https://upload.wikimedia.org/wikipedia/commons/9/96/Chevron-icon-drop-down-menu-WHITE.png"
					  class="h-2 w-3 transition-all duration-500 group-focus:-rotate-180"
					/>
				  </div>
				  <div
					class="invisible h-auto max-h-0 items-center opacity-0 transition-all group-focus:visible group-focus:max-h-screen group-focus:opacity-100 group-focus:duration-1000"
				  >
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
					veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
					commodo consequat.
				  </div>
				</div>
			  
				<div
				  class="group flex flex-col gap-2 rounded-lg bg-gray-950 p-5 text-white"
				  tabindex="2"
				>
				  <div class="flex cursor-pointer items-center justify-between">
					<span> CSS </span>
					<img
					  src="https://upload.wikimedia.org/wikipedia/commons/9/96/Chevron-icon-drop-down-menu-WHITE.png"
					  class="h-2 w-3 transition-all duration-500 group-focus:-rotate-180"
					/>
				  </div>
				  <div
					class="invisible h-auto max-h-0 items-center opacity-0 transition-all group-focus:visible group-focus:max-h-screen group-focus:opacity-100 group-focus:duration-1000"
				  >
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
					veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
					commodo consequat.
				  </div>
				</div>
			  
				<div
				  class="group flex flex-col gap-2 rounded-lg bg-gray-950 p-5 text-white"
				  tabindex="3"
				>
				  <div class="flex cursor-pointer items-center justify-between">
					<span> JAVASCRIPT </span>
					<img
					  src="https://upload.wikimedia.org/wikipedia/commons/9/96/Chevron-icon-drop-down-menu-WHITE.png"
					  class="h-2 w-3 transition-all duration-500 group-focus:-rotate-180"
					/>
				  </div>
				  <div
					class="invisible h-auto max-h-0 items-center opacity-0 transition-all group-focus:visible group-focus:max-h-screen group-focus:opacity-100 group-focus:duration-1000"
				  >
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
					veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
					commodo consequat.
				  </div>
				</div>
			  </div>
		</section> -->
		
		<footer class="bg-primary border-t border-white/10 mt-20 lg:mt-[6rem]">
			<div class="mx-auto max-w-8xl px-6 py-12 md:flex md:items-center md:justify-between lg:px-8">
				<div class="flex justify-center space-x-6 md:order-2">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" fill="rgba(159,207,248,1)"><path d="M11.0004 2V8.41396C10.5947 8.33909 10.1768 8.3 9.75039 8.3C5.96724 8.3 2.90039 11.3668 2.90039 15.15C2.90039 18.9332 5.96724 22 9.75039 22C13.5335 22 16.6004 18.9332 16.6004 15.15V11.4136C17.6366 11.8539 18.7662 12.1 20.0005 12.1H21.0005V6.5H20.0005C18.0966 6.5 16.6004 4.96259 16.6004 3V2H11.0004ZM13.0004 4H14.688C15.0818 6.22009 16.7673 7.99607 19.0005 8.4091V10.0282C17.9624 9.87602 17.0253 9.48645 16.1567 8.905L14.6004 7.86327V15.15C14.6004 17.8286 12.429 20 9.75039 20C7.07181 20 4.90039 17.8286 4.90039 15.15C4.90039 12.4714 7.07181 10.3 9.75039 10.3C9.83431 10.3 9.91769 10.3021 10.0005 10.3063V11.9095C9.91795 11.9032 9.83454 11.9 9.75039 11.9C7.95547 11.9 6.50039 13.3551 6.50039 15.15C6.50039 16.9449 7.95547 18.4 9.75039 18.4C11.5453 18.4 13.0004 16.9449 13.0004 15.15C13.0004 11.4334 12.9992 7.71665 13.0004 4ZM8.50039 15.15C8.50039 14.4596 9.06003 13.9 9.75039 13.9C10.4407 13.9 11.0004 14.4596 11.0004 15.15C11.0004 15.8404 10.4407 16.4 9.75039 16.4C9.06003 16.4 8.50039 15.8404 8.50039 15.15Z"></path></svg>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" fill="rgba(70,146,221,1)"><path d="M12.001 2C6.47813 2 2.00098 6.47715 2.00098 12C2.00098 16.9913 5.65783 21.1283 10.4385 21.8785V14.8906H7.89941V12H10.4385V9.79688C10.4385 7.29063 11.9314 5.90625 14.2156 5.90625C15.3097 5.90625 16.4541 6.10156 16.4541 6.10156V8.5625H15.1931C13.9509 8.5625 13.5635 9.33334 13.5635 10.1242V12H16.3369L15.8936 14.8906H13.5635V21.8785C18.3441 21.1283 22.001 16.9913 22.001 12C22.001 6.47715 17.5238 2 12.001 2Z"></path></svg>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" fill="rgba(70,146,221,1)"><path d="M12.001 9C10.3436 9 9.00098 10.3431 9.00098 12C9.00098 13.6573 10.3441 15 12.001 15C13.6583 15 15.001 13.6569 15.001 12C15.001 10.3427 13.6579 9 12.001 9ZM12.001 7C14.7614 7 17.001 9.2371 17.001 12C17.001 14.7605 14.7639 17 12.001 17C9.24051 17 7.00098 14.7629 7.00098 12C7.00098 9.23953 9.23808 7 12.001 7ZM18.501 6.74915C18.501 7.43926 17.9402 7.99917 17.251 7.99917C16.5609 7.99917 16.001 7.4384 16.001 6.74915C16.001 6.0599 16.5617 5.5 17.251 5.5C17.9393 5.49913 18.501 6.0599 18.501 6.74915ZM12.001 4C9.5265 4 9.12318 4.00655 7.97227 4.0578C7.18815 4.09461 6.66253 4.20007 6.17416 4.38967C5.74016 4.55799 5.42709 4.75898 5.09352 5.09255C4.75867 5.4274 4.55804 5.73963 4.3904 6.17383C4.20036 6.66332 4.09493 7.18811 4.05878 7.97115C4.00703 9.0752 4.00098 9.46105 4.00098 12C4.00098 14.4745 4.00753 14.8778 4.05877 16.0286C4.0956 16.8124 4.2012 17.3388 4.39034 17.826C4.5591 18.2606 4.7605 18.5744 5.09246 18.9064C5.42863 19.2421 5.74179 19.4434 6.17187 19.6094C6.66619 19.8005 7.19148 19.9061 7.97212 19.9422C9.07618 19.9939 9.46203 20 12.001 20C14.4755 20 14.8788 19.9934 16.0296 19.9422C16.8117 19.9055 17.3385 19.7996 17.827 19.6106C18.2604 19.4423 18.5752 19.2402 18.9074 18.9085C19.2436 18.5718 19.4445 18.2594 19.6107 17.8283C19.8013 17.3358 19.9071 16.8098 19.9432 16.0289C19.9949 14.9248 20.001 14.5389 20.001 12C20.001 9.52552 19.9944 9.12221 19.9432 7.97137C19.9064 7.18906 19.8005 6.66149 19.6113 6.17318C19.4434 5.74038 19.2417 5.42635 18.9084 5.09255C18.573 4.75715 18.2616 4.55693 17.8271 4.38942C17.338 4.19954 16.8124 4.09396 16.0298 4.05781C14.9258 4.00605 14.5399 4 12.001 4ZM12.001 2C14.7176 2 15.0568 2.01 16.1235 2.06C17.1876 2.10917 17.9135 2.2775 18.551 2.525C19.2101 2.77917 19.7668 3.1225 20.3226 3.67833C20.8776 4.23417 21.221 4.7925 21.476 5.45C21.7226 6.08667 21.891 6.81333 21.941 7.8775C21.9885 8.94417 22.001 9.28333 22.001 12C22.001 14.7167 21.991 15.0558 21.941 16.1225C21.8918 17.1867 21.7226 17.9125 21.476 18.55C21.2218 19.2092 20.8776 19.7658 20.3226 20.3217C19.7668 20.8767 19.2076 21.22 18.551 21.475C17.9135 21.7217 17.1876 21.89 16.1235 21.94C15.0568 21.9875 14.7176 22 12.001 22C9.28431 22 8.94514 21.99 7.87848 21.94C6.81431 21.8908 6.08931 21.7217 5.45098 21.475C4.79264 21.2208 4.23514 20.8767 3.67931 20.3217C3.12348 19.7658 2.78098 19.2067 2.52598 18.55C2.27848 17.9125 2.11098 17.1867 2.06098 16.1225C2.01348 15.0558 2.00098 14.7167 2.00098 12C2.00098 9.28333 2.01098 8.94417 2.06098 7.8775C2.11014 6.8125 2.27848 6.0875 2.52598 5.45C2.78014 4.79167 3.12348 4.23417 3.67931 3.67833C4.23514 3.1225 4.79348 2.78 5.45098 2.525C6.08848 2.2775 6.81348 2.11 7.87848 2.06C8.94514 2.0125 9.28431 2 12.001 2Z"></path></svg>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" fill="rgba(70,146,221,1)"><path d="M3 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3ZM20 7.23792L12.0718 14.338L4 7.21594V19H20V7.23792ZM4.51146 5L12.0619 11.662L19.501 5H4.51146Z"></path></svg>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" fill="rgba(70,146,221,1)"><path d="M21 16.42V19.9561C21 20.4811 20.5941 20.9167 20.0705 20.9537C19.6331 20.9846 19.2763 21 19 21C10.1634 21 3 13.8366 3 5C3 4.72371 3.01545 4.36687 3.04635 3.9295C3.08337 3.40588 3.51894 3 4.04386 3H7.5801C7.83678 3 8.05176 3.19442 8.07753 3.4498C8.10067 3.67907 8.12218 3.86314 8.14207 4.00202C8.34435 5.41472 8.75753 6.75936 9.3487 8.00303C9.44359 8.20265 9.38171 8.44159 9.20185 8.57006L7.04355 10.1118C8.35752 13.1811 10.8189 15.6425 13.8882 16.9565L15.4271 14.8019C15.5572 14.6199 15.799 14.5573 16.001 14.6532C17.2446 15.2439 18.5891 15.6566 20.0016 15.8584C20.1396 15.8782 20.3225 15.8995 20.5502 15.9225C20.8056 15.9483 21 16.1633 21 16.42Z"></path></svg>
				</div>

					<div class="mt-8 md:order-1 md:mt-0">
						<Image src={disney} alt="footer" />
						<p class="text-left text-sm leading-5 text-white/50 my-2">A Building &amp; Construction Company based in KENYA</p>
						<p class="text-left text-xs leading-5 text-white/50">© 2023 luidigitals</p>
					</div>
				</div>
		</footer>


		<!-- <script>
			const navlinks = document.querySelector('.nav-links')
			const menuIcon = document.querySelector('#menuIcon')

			menuIcon.addEventListener('click', (e) => {
				e.target.name = e.target.name === 'menu' ? 'close' : 'menu'
				navlinks.classList.toggle('top-[9%]')
			})
		</script> -->
	</body>
</html>