---
import { Image } from "astro:assets"
import profile from "../images/profile.jpg"
import const1 from "../images/const 1.webp"
import const2 from "../images/const 2.webp"
import const3 from "../images/const 3.webp"
import const6 from "../images/const 6.webp"
import const8 from "../images/const 8.webp"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
		<script src="https://unpkg.com/@themesberg/flowbite@1.1.1/dist/flowbite.bundle.js"></script>
		<script defer src="https://unpkg.com/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
		<script src="https://unpkg.com/alpinejs" defer></script>
		<meta name="generator" content={Astro.generator} />
		<title>Results</title>
	</head>

<body class=" bg-gray-950 font-manrope h-screen">
    <div class="h-screen w-screen flex justify-center items-center bg-slate-900 ">
        <div class="bg-slate-800 text-white rounded-lg w-full mx-5 md:w-[40rem]  space-y-6 p-10">
       <!-- header -->
       <div class="flex space-x-4 items-center ">
         <div class="w-12 h-12">
          <Image class="rounded-full w-full h-full object-cover " src={profile} alt="profile picture" />
           <div>
           </div>
         </div>
         <div class="space-y-2">
           <div class="flex space-x-2 items-center">
             <h2 class="text-base">Lewis</h2>
             <svg class="h-4 w-4 text-blue-500" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor" stroke-width="2">
               <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
             </svg>
             <div class="  text-xs text-slate-400">posted an update</div>
           </div>
           <p class=" text-xs text-slate-400">4 Months Ago</p>
         </div>

       </div>
       <!--content-->
       <div>
         <p class="text-sm leading-6 text-slate-300">
           Our on going projects at Karuguru Bypass
         </p>
       </div>


       <!-- image grid-->


       <div class="grid grid-cols-6 col-span-2   gap-2  ">

         <div class=" overflow-hidden rounded-xl col-span-3 max-h-[14rem]">
            <Image quality={"mid"} loading={"eager"} class="h-full w-full object-cover" src={const1} alt="iamge1" />
         </div>
         <div class=" overflow-hidden rounded-xl col-span-3 max-h-[14rem]">
            <Image quality={"mid"} loading={"eager"} class="h-full w-full object-cover" src={const2} alt="iamge1" />
         </div>

         <div class=" overflow-hidden rounded-xl col-span-2 max-h-[10rem]">
            <Image quality={"mid"} loading={"lazy"} class="h-full w-full object-cover" src={const3} alt="iamge1" />
         </div>

         <div class=" overflow-hidden rounded-xl col-span-2 max-h-[10rem]">
            <Image quality={"mid"} loading={"lazy"} class="h-full w-full object-cover" src={const6} alt="iamge1" />
         </div>

         <div class=" overflow-hidden rounded-xl col-span-2 max-h-[10rem]">
            <Image quality={"mid"} loading={"lazy"} class="h-full w-full object-cover" src={const8} alt="iamge1" />
         </div>

       </div>


     </div>
 </div>
</body>
</html>